<div layout="row" layout-align="start center">
  <md-select ng-model="vm.lang">
    <md-option value="EN" ng-click="vm.changeLang('en')">
      EN
    </md-option>
    <md-option value="RU" ng-click="vm.changeLang('ru')">
      RU
    </md-option>
  </md-select>
</div>

<md-content layout-padding layout="column" layout-align-gt-xs="center center">
  <form ng-submit="vm.signIn()" name="userSignIn">
    <md-input-container class="md-icon-float md-block">
      <label>{{ 'LOGIN' | translate }}</label>
      <md-icon class="material-icons">account_box</md-icon>
      <input class="form-control" ng-model="vm.loginSignIn" type="text" id="login" name="login" required>
      <div ng-if="userSignIn.login.$touched" ng-messages="userSignIn.login.$error">
        <div ng-message="required" class="red">* {{ 'ERROR' | translate }}.</div>
      </div>
    </md-input-container>

    <md-input-container md-no-float class="md-block">
      <label>{{ 'PASSWORD' | translate }}</label>
      <md-icon class="material-icons">lock</md-icon>
      <input class="form-control" ng-model="vm.passwordSignIn" type="password" id="password" name="password" maxlength="20" required>
      <div ng-if="userSignIn.password.$touched" ng-messages="userSignIn.password.$error">
        <div ng-message="required" class="red">* {{ 'ERROR' | translate }}.</div>
      </div>
    </md-input-container>

    <div layout="row" layout-align="space-between center">
      <md-button type="submit" class="green">{{ 'SIGNIN' | translate }}</md-button>
    </div>

  </form>
</md-content>